main{
    grid-area: main;/*Diz ao sistema o local da pagina que determinado elemento deve ser colocado */ 
    width: auto;
    display: grid;
    grid-template-columns:repeat(4,1f);
    grid-gap:10px; /*Abre um intervalo entre as colunas*/
    grid-template-areas:
      'prod prod carr carr  ';
    grid-template-columns: auto auto auto ;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;    
  
}