body{
    display: grid;/*Funcionamento:abrir um grid*/ 
    grid-template-columns:repeat(4,1f);
    grid-gap:10px; /*Abre um intervalo entre as colunas*/
    grid-template-areas:
    'header header header header '
    'nav nav nav nav'
    'main main main main '
    'footer footer footer footer';/*Funcinamento: organização padrão da pagina, as repetições determina as colunas*/ 
    grid-template-columns: auto auto auto ;
    font-size: 30px;
    color:rgb(253, 253, 253);
    background-color:rgb(143, 132, 112);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
  }
  
  
  header{
    grid-area: header;
  }
  main{
    grid-area: main
  }
  
  footer {
    grid-area:footer;
     background-color: rgba(113, 228, 228, 0.555);
    margin:100px 0px 0px 0px;
    text-align: center;
  
  }
  
  a:link, a:visited{
    color: rgb(51, 0, 0);
    padding: 10px;
    background-color:red;
    text-decoration: none;
    font-size: 18px;
    
    
  }
  
  a:hover{
    background-color:greenyellow;
    text-decoration: underline;
  }
  
  body>header {
    background-color: rgb(10,23,55,0.5);
    color:rgb(173, 80, 80);
    font-size:30px;
    background-position: right;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 300px 160px;
   
  }
  
  
  label{
    display: block;
    margin-top:100px;
    color:rgb(117, 237, 253);
  }
  
  
  
        /*Flex Box/*
  /* Classe mãe*/
  
  /*@media(min-width:778px){*/
  .utilizadores{
    /*margin:250px; Margem das colunas ao browser */
    display: flex;
    text-align: center;
    justify-content:space-evenly;
  
  
  
    /*box-sizing: border-box;Encolhe as colunas para 90% do seu tamanho*/
    /*justify-content: space-between; Abrindo assim um espaço entre as colunas dependendo da margem*/
  
  }
  
  /* Classes filhas */
  
  .cliente{
    flex: 1;
    border-width:3px; /* Define expessura  da borda */
    border-style:solid;  /* Define estilo da da borda */
    border-color: black;
    height: 250px;/*altura das imgens*/
    margin:10px; /*Margem entre as colunas */
    order:3;
    
   
  }
  
  
  
  
  
  .vendedor{
    flex: 1;
    border-width:3px; /* Define expessura  da borda */
    border-style:solid;  /* Define estilo da da borda */
    border-color: black;
    background-color:purple;
    margin:10px;
    order:2;
   
  
    }
  
   